body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 420px;
  background: #fff;
  margin: 16px auto 16px auto;
  display: inline-block;
  align-content: center;
}

.title, .content, .button-container {
  background: #e3f4ff;
  margin: 10px;
}

.title {
  font-size: 20px;
  padding: 10px 10px 10px 10px;
}

.content {
  padding: 15px 10px 15px 10px;
}

.button-container {
  padding: 15px 10px 15px 10px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 10px 30px 10px 30px;
  margin: auto;
}